{% block header %}
<header>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{path('home')}}">MaMaFlo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Cat1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Cat2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Cat3</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{path('add_product')}}">Ajouter un produit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Ajouter une catégorie</a>
              </li>
          <li class="nav-item">
              <a class="nav-link" href="{{path('login')}}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('createAccount')}}">Créer un compte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('logout')}}">Se déconnecter</a>
              </li>
            </ul>
      </div>
    </nav>
         
</header>
{% endblock header %}