{% extends "base.html.twig" %}

{% block content %}
  

<div class="container-fluid">
  <div class="form-group">
{{form_start(form)}}
{{form_widget(form)}}
<button>
  {% if editMode %}
  Enregistrer 
  {% else %}
  Ajouter un produit
  {% endif %}

</button>
{{form_end(form)}}
</div>
</div>

<br>

{% endblock content %}