{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block content %}

      {{form_start(form)}}
      {{form_widget(form)}}
      <button type="submit">Submit</button>
      {{form_end(form)}}

{% endblock %}
